<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Macbooks</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='airPod.css')}}">
    <link rel="stylesheet" href="home_page.html">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <i class="fa-brands fa-apple"></i>
                <span>AppleZone</span>
            </div>

            <ul class="navbar-links">
                <li><a href="{{url_for('iPhone')}}">iPhones</a></li>
                <li><a href="{{url_for('macBook')}}">MacBooks</a></li>
                <li><a href="">Accessoires</a></li>
                <li><a href="#contact">Apple Watch</a></li>
            </ul>

            <div class="navbar-right">
                <p>Votre panier</p>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </nav>
    </header>

    <h1>Découvrez nos AirPods</h1>


    <div class="flex">
        <aside class="filtrage">
            <h3>Filtrage des produits</h3>
            <div>
                <h3>Modèle</h3>
                <label><input type="checkbox" name="modele" value="simple">simple</label><br>
                <label><input type="checkbox" name="modele" value="pro"></label>pro<br>
            </div>


            <div>
                <h3>Prix</h3>
                <label><input type="range" name="prix" min="200" max="1500"></label>
            </div>
        </aside>

        <section>


            <div class="product">
                <div class="product-pic">
                    <img src="../static/pictures/Apple_AirPods_Pro_3D_model_3D_print_model_-_linda_LI-removebg-preview.png"
                        alt="">
                </div>
                <div class="description">
                    <figcaption>
                        <p><strong>Apple AirPods 4 pro</strong></p>
                        <p><strong>Prix : </strong>10 000 Da</p>
                    </figcaption>
                    <div class="command-link">
                        <a class="link" href="">Ajouter au panier &nbsp;&nbsp; <i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-pic">
                    <img src="../static/pictures/airPods4_prom.png" alt="">
                </div>
                <div class="description">
                    <figcaption>
                        <p><strong>Apple Airpods 4</strong></p>
                        <p><strong>Prix :</strong> 8 100 Da</p>
                    </figcaption>
                    <div class="command-link">
                        <a class="link" href="">Ajouter au panier &nbsp;&nbsp; <i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-pic">
                    <img src="../static/pictures/Apple_AirPods__3rd_Gen__MagSafe_Case_White-removebg-preview(1).png"
                        alt="">
                </div>
                <div class="description">
                    <figcaption>
                        <p><strong>Apple AirPods 3</strong> </p>
                        <p><strong>Prix :</strong>3000 Da</p>
                    </figcaption>
                    <div class="command-link">
                        <a class="link" href="">Ajouter au panier &nbsp;&nbsp; <i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-pic">
                    <img src="../static/pictures/We_Spent_Thousands_of_Hours_Listening_to_Find_the_Best_Wireless_Headphones-removebg-preview.png"
                        alt="">
                </div>
                <div class="description">
                    <figcaption>
                        <p><strong>Apple Airpods 3 Pro</strong></p>
                        <p><strong>Prix :</strong>3100 Da</p>
                    </figcaption>
                    <div class="command-link">
                        <a class="link" href="">Ajouter au panier &nbsp;&nbsp; <i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <footer id="contact">
        <p>&copy; 2025 AppleZone. Tous droits réservés.</p>
        <p>Contact : support@applezone.com | +213 0 00 00 00</p>
    </footer>




</body>

</html>