<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> LOGIN</title>


    <!----------------------------------------------- Imports ---------------------------------------------->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static',filename='signin.css')}}">



</head>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    <fieldset>
        <form action="/login" method="post">
            <h1>LOGIN</h1>

            <div class="div1">
                <p>E-mail</p>
                <div class="input">
                    <input type="email" name="email" placeholder=" e-mail" required>
                    <i class="fa-solid fa-envelope"></i>
                </div>
            </div>


            <div class="div1">
                <p>Mot de passe</p>
                <div class="input">
                    <input type="password" name="password" placeholder=" password" minlength="8" required>
                    <i class="fa-solid fa-lock"></i>
                </div>
                <a id="forgot-password" href="">Mot de passe oublié ?</a>
            </div>


            <div class="link-btn">
                <p>Vous n'avez pas un compte ? <a id="link" id="link" href="{{url_for('signup')}}" target="_blank">Créer
                        un compte
                        ici</a>
                </p>
                <button type="submit">Se connecter</button>
            </div>
        </form>
    </fieldset>

</body>

</html>